[submodule "flexdll"]
	path = flexdll
	url = https://github.com/MisterDA/flexdll.git
	shallow = true
	branch = makefile.mk
[submodule "winpthreads"]
	path = winpthreads
	url = https://github.com/ocaml/winpthreads.git
	shallow = true
